@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

@mixin button($color){
    display: inline-block;
    text-decoration: none;
    background-color:$color;
    padding:15px 20px;
    text-align: center;
    width: 90%;
    color:$very_blue;
    border-radius: 10px;
    margin-top:2px;
    border:0;
    font-weight: 900;
    box-shadow:0px 10px 20px 0px #b9b9b9;
    cursor: pointer;
}

//variables 

$desktop :1440px;
$mobile :375px;

// Colors 

$bright_blue:hsl(245, 75%, 52%);
$pal_blue:hsl(225, 100%, 94%);
$very_blue:hsl(225, 100%, 98%);
$destorated_blue:hsl(224, 23%, 55%);
$dark_blue:hsl(223, 47%, 23%);

//fonts 

$font-s:16px;
$font-f:'Red Hat Display', sans-serif;

body{
    
    height: 100vh;
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $pal_blue;
    font-family: $font-f;
    font-size: $font-s;
  
   
}

.container{
    max-width: 400px;
    margin:2rem auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 650px;
    text-align: center;
    border-radius: 20px;
    overflow-x: hidden;
    padding:0 1rem 2rem 1rem ;
    box-shadow:0px 10px 20px 0px #dfdfdf;
    

    h3{
        margin-top: 2rem;
        font-weight: 900;
        color:$dark_blue;
        font-size: 1.6rem;
      
    }
    p{
        padding:0 3rem;
        
        color:$destorated_blue;
          margin:1rem 0 2rem 0;
        line-height: 1.5rem;
    }
    img{
        width: 100wh;
        
        background-size: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .mini-box{
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: $very_blue;
        a{
            color:$bright_blue;
            font-weight: 500;
            &:hover{
                color:$destorated_blue;
            }
        }
        .col-2{
            margin-right:4.5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h5{
                font-weight:700;
                font-size: 1rem;
            }
            span{
                color:$destorated_blue;
            }
          
        }
      
    }
    .btn-1{
        @include button($bright_blue);
        margin-top:1rem;
        text-shadow: hsl(223, 47%, 23%);
        &:hover{
            background-color: $destorated_blue;
        }
        
    }
    .order {
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color:$destorated_blue;
        font-weight: 900;
        &:hover{
            color:$dark_blue;
        }
        
    }
}




















// media_querry

@media (max-width:$mobile){
    body{
        width: 100%;
        height: 100vh;
        background-image: url('../images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
       
    
    }
    .container{
        max-width: 300px;
        padding:0 ;
    }
    .mini-box {
        padding:0;
        width: 100%;
       .col a{
            margin-left: -15px;
        }
    }
}